
<div class="flex  items-center h-screen bg-gray-200">
    <div class="w-1/4 p-8 border rounded-md mr-4 -mt-20 ">
        <div class="bg-blue-500 p-1 rounded-t-md">
          <h3 class="text-2xl font-semibold mb-4 text-white text-center">Personal Information</h3>
        </div>
        <div class="bg-white p-4 rounded-b-md">
          <div class="mb-2">
            <strong>Name:</strong> 
            <p>John Doe</p>           
          </div>
          <div class="mb-2">
            <strong>Internship Period</strong>
            <p>1 January 2023 - 30 June 2023</p>
          </div>
          <div class="mb-2">
            <strong>Education Center</strong>
            <p>University of Melbourne</p>
          </div>
          <div class="mb-2">
            <strong>Course</strong>
            <p>Software Engineering</p>
          </div>
        </div>
    </div>
    <div class="w-3/6 border rounded-md bg-white p-6 mt-6">
            
        <div class="grid grid-cols-3 gap-4">            
          <div class="col-span-1"> 
            <h2 class="text-2xl font-semibold mb-4">Form Examples</h2>
            <p>Examples of form input and their validations</p>
          </div> 
          <div class="col-span-2">
            <form #myForm="ngForm" (ngSubmit)="submitForm()">
              <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="Name">Name *</label>
                <input
                  type="text"
                  id="Name"
                  name="Name"
                  ngModel
                  required
                  class="w-full p-2 border rounded"
                />
              </div>
              <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="area">Text Area Label *</label>
                <textarea
                  id="area"
                  name="area"
                  ngModel
                  required
                  class="w-full p-2 border rounded"
                ></textarea>
              </div>
      
              <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="calendar">Calendar Label *</label>
                <input
                  type="date"
                  id="calendar"
                  name="calendar"
                  ngModel
                  required
                  class="w-full p-2 border rounded"
                />
              </div>
      
              <div class="mb-4">
                <label class="block text-gray-700 font-bold mb-2" for="dropdown">Dropdown *</label>
                <select
                  id="dropdown"
                  name="dropdown"
                  ngModel
                  required
                  class="w-full p-2 border rounded"
                >
                  <option value="option1">Option 1</option>
                  <option value="option2">Option 2</option>
                </select>
              </div>
        <div class="mt-4">
          <button
            type="submit"
            [disabled]="myForm.invalid"
            class="bg-blue-500 text-white p-2 rounded cursor-pointer"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
  
  