
<main class=" bg-gray-200 z-0">
    <div class="grid  grid-flow-col gap-4" >
        <div class="flex min-h-screen row-span-6 ">
            <div class=" bg-white p-12  w-96 ">
                <h1 class="text-2xl font-semibold mb-6 pb-20">Internship Project</h1>
                <p>Cat Listing</p>
                <p>Log Keluar</p>
            </div>
        </div>
        <div class=" col-span-10 w-5/6 border rounded-md bg-white p-6 mt-6">
            <div class="grid  gap-4"> 
                <div class="">
                    <form>   
                        <label for="default-search" class=" mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
                        <div class="relative">
                            <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
                                </svg>
                            </div>
                            <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="Search Mockups, Logos..." required>
                            <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Search</button>
                        </div>
                    </form>
                </div>
            </div>
                     
        </div>
        <div class=" col-span-10 w-5/6 border rounded-md bg-white mb-6 p-4" >
            <div>
                <ion-grid>
                    <div *ngIf="breeds">
                      <h1>Cat Listing</h1>
                      <ion-row class="header-row">
                        <ion-col size="1">BIL</ion-col>
                        <ion-col>BREED</ion-col>
                        <ion-col size="3">COUNTRY</ion-col>
                        <ion-col>ORIGIN</ion-col>
                        <ion-col>COAT</ion-col>
                        <ion-col>PATTERN</ion-col>
                      </ion-row>
                      <ion-row *ngFor="let item of breeds;let i = index;let odd = odd; let even = even" [class.ion-odd]="odd" [class.ion-even]="even">
                        <ion-col size="1" >{{ i + 1 }}</ion-col>
                        <ion-col >{{ item.breed }}</ion-col>
                        <ion-col size="3" >{{ item.country }}</ion-col>
                        <ion-col >{{ item.origin }}</ion-col>
                        <ion-col >{{ item.coat }}</ion-col>
                        <ion-col >{{ item.pattern }}</ion-col>
                      </ion-row>           
                    </div>
                  </ion-grid>
            </div>
        </div>

    </div>

</main>
  
  
  